@model StolovkyZilina.Models.ViewModels.UsersViewModel
@{
}

<div class="bg-secondary bg-opacity-10 py-2">
	<div class="container">
		<h1>Registrovani uzivatelia - Admin</h1>
	</div>
</div>

<div>
	<div class="container py-5">
		@if (Model.Users.Any())
		{
			<table class="table">
				<thead>
					<tr>
						<th>Uzivatelske meno</th>
						<th>Email</th>
						<th>Telefonne cislo</th>
						<th>Overeny email</th>
						<th>Opravnenia</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var user in Model.Users)
					{
						<tr>
							<td>@user.Name</td>
							<td>@user.Email</td>
							<td>@user.PhoneNumber</td>
							<td>@user.VerifiedEmail</td>
							<td>@user.GetRoleTranslated()</td>
							<td>
								<form method="get" asp-controller="AdminUsers" asp-action="Edit" asp-route-id="@user.Id">
									<button class="btn btn-primary me-2" type="submit">Upravit</button>
								</form>
							</td>
						</tr>
					}
				</tbody>
			</table>
		}
		else
		{
			<p>Tuto picovinu nikto nepouziva!</p>
		}
	</div>
</div>