@model StolovkyZilina.Models.Requests.GamePlayRequest
@{
}

<div class="bg-secondary bg-opacity-10 py-2">
	<div class="container">
		<h1>Nova herna partia</h1>
	</div>
</div>

<div class="container py-5">
	<form method="post">
		<div class="mb-3">
			<div class="form-floating flex-fill">
				<input class="form-control" asp-for="SelectedGame" id="gamesList" required readonly>
				<label for="gamesList" class="form-label">Nazov hry</label>
			</div>
		</div>

		<div class="mb-3">
			<div class="form-floating flex-fill me-2">
				<textarea class="form-control" id="desc" style="height: 100px" asp-for="Desc"></textarea>
				<label for="desc" class="form-label">Popis</label>
			</div>
		</div>

		<datalist id="datalistOptionsUsers">
			@foreach (var user in Model.Users)
			{
				<option value="@user"></option>
			}
		</datalist>
		@for (var i = 0; i < Model.Results.Count; i++)
		{
			<div class="mb-3">
				<div class="d-flex">
					<div class="form-floating flex-fill me-2">
						<input class="form-control" list="datalistOptionsUsers" asp-for="@Model.Results[i].PlayerName" id="player@(i + 1)" readonly>
						<label for="player@(i + 1)" class="form-label">Hrac @(i + 1)</label>
					</div>
					<div class="form-floating flex-fill mx-2">
						<input type="text" class="form-control" asp-for="@Model.Results[i].PlayerInfo" id="playerInfo@(i + 1)">
						<label for="playerInfo@(i + 1)" class="form-label">Info</label>
					</div>
					@if (Model.IsOnPointsGame)
					{
						<div class="form-floating flex-fill ms-2">
							<input class="form-control" min="0" asp-for="@Model.Results[i].Result" id="playerScore@(i + 1)">
							<label for="playerScore@(i + 1)" class="form-label">Skore</label>
						</div>
					}
					else if (!Model.IsCoopGame)
					{
						<div class="form-floating flex-fill ms-2 d-flex align-items-center justify-content-center">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" asp-for="@Model.Results[i].IsWinner" id="winnerCheck@(i + 1)">
								<label class="form-check-label" for="winnerCheck@(i + 1)">Víťaz</label>
							</div>
						</div>
					}
				</div>
				<span asp-validation-for="@Model.Results[i].PlayerName" class="text-danger"></span>
				<input type="hidden" asp-for="@Model.Results[i].Id" />
			</div>
		}

		<div class="mb-3">
			<div class="form-floating flex-fill">
				<select class="form-select" id="locationsList" asp-items="@Model.Locations" asp-for="SelectedLocationId">
				</select>
				<label for="locationsList" class="form-label">Miesto</label>
			</div>
		</div>

		<div class="d-flex mb-3">
			<div class="form-floating flex-fill">
				<input type="datetime-local" class="form-control" id="start" step="any" asp-for="StartTime">
				<label for="start">Cas zacatia hry</label>
			</div>
		</div>

		<div class="d-flex mb-3">
			<div class="form-floating flex-fill">
				<input type="datetime-local" class="form-control" id="end" step="any" asp-for="EndTime">
				<label for="end">Cas ukoncenia hry</label>
			</div>
		</div>

		<div class="mb-3">
			<button type="submit" class="btn btn-primary">
				Ulozit
			</button>
			<input type="hidden" asp-for="@Model.ContentId" />
			<input type="hidden" asp-for="@Model.EventId" />
			<input type="hidden" asp-for="@Model.Id" />
		</div>
	</form>
</div>