@using Microsoft.AspNetCore.Identity
@using StolovkyZilina.Models.ViewModels;
@using StolovkyZilina.Util;
@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager

@model StolovkyZilina.Models.ViewModels.GameDetailsViewModel

@{
	ViewData["Title"] = Model.Name;
}

<div class="bg-secondary bg-opacity-10 py-2">
	<div class="container">
		<h1>Hra - @Model.Name</h1>
	</div>
</div>

<div class="container my-5">
	<div class="row justify-content-center">
		<div class="col-12 col-lg-12">
			<div class="container mt-5 mb-5">
				<div class="d-flex justify-content-center row">
					<div class="row bg-white">
						<div class="col-md-3">
							@if (Model.FeaturedImage != null)
							{
								<img src="data:image/png;base64,@Convert.ToBase64String(Model.FeaturedImage)" class="img-fluid" alt="@Model.Name">
							}
							else
							{
								<img src="~/Resources/Images/gameCover.jpeg" class="img-fluid" alt="@Model.Name">
							}
						</div>
						<div class="col-md-6 mt-1">
							<h3>@Model.Name</h3>
							@if (!string.IsNullOrEmpty(Model.Author))
							{
								<h5 class="text-secondary">@Model.Author</h5>
							}
							<dl class="row">
								@if (!string.IsNullOrEmpty(Model.Category))
								{
									<dt class="col-6">Kategória</dt>
									<dd class="col-6">@Model.Category</dd>
								}
								<dt class="col-6">Herná doba</dt>
								<dd class="col-6">@Model.GetPlaytimeString() (@(Model.Playtime + 1)/5)</dd>
								<dt class="col-6">Obtiažnosť</dt>
								<dd class="col-6">@Model.GetDifficultyString() (@(Model.Difficulty + 1)/5)</dd>
								<dt class="col-6">Priestorová náročnosť</dt>
								<dd class="col-6">@Model.GetSpaceReqString() (@(Model.SpaceRequired + 1)/3)</dd>
								<dt class="col-6">Počet hráčov</dt>
								@if (Model.MaxPlayerCount != Model.MinPlayerCount)
								{
									<dd class="col-6">@Model.MinPlayerCount - @Model.MaxPlayerCount</dd>
								}
								else
								{
									<dd class="col-6">@Model.MaxPlayerCount</dd>
								}
							</dl>
							@foreach (var tag in Model.Tags)
							{
								<span class="badge bg-secondary me-1">
									@tag.DisplayName
								</span>
							}
						</div>
						<div class="align-items-center align-content-center col-md-3 border-start mt-1">
							<div class="d-flex flex-column mt-4">

								@if (Model.Own)
								{
									<a class="btn btn-success btn-sm my-1" asp-area=""
									   asp-controller="Game"
									   asp-action="Owner"
									   asp-route-id="@Model.Id">Hru mám</a>
								}
								else if (Model.Want > 0)
								{
									<a class="btn btn-primary btn-sm my-1" asp-area=""
									   asp-controller="Game"
									   asp-action="Owner"
									   asp-route-id="@Model.Id">Hru chcem mať</a>
								}
								else
								{
									<a class="btn btn-danger btn-sm my-1" asp-area=""
									   asp-controller="Game"
									   asp-action="Owner"
									   asp-route-id="@Model.Id">Hru nemám</a>
								}

								@if (Model.WantToPlay > 0)
								{
									if (Model.WantToPlay == 1)
									{
										<a class="btn btn-primary btn-sm my-1" asp-area=""
										   asp-controller="Game"
										   asp-action="WantToPlay"
										   asp-route-id="@Model.Id">Hru chcem skúsiť</a>
									}
									else if (Model.WantToPlay == 2)
									{
										<a class="btn btn-primary btn-sm my-1" asp-area=""
										   asp-controller="Game"
										   asp-action="WantToPlay"
										   asp-route-id="@Model.Id">Hru chcem hrať</a>
									}
									if (Model.WantToPlay == 3)
									{
										<a class="btn btn-success btn-sm my-1" asp-area=""
									   asp-controller="Game"
									   asp-action="WantToPlay"
									   asp-route-id="@Model.Id">Hru chcem hrať pravidelne</a>
									}
								}
								else
								{
									<a class="btn btn-danger btn-sm my-1" asp-area=""
									   asp-controller="Game"
									   asp-action="WantToPlay"
									   asp-route-id="@Model.Id">Hru nechcem hrať</a>
								}

								@if (Model.Favorite)
								{
									<a class="btn btn-success btn-sm my-1" asp-area=""
									   asp-controller="Game"
									   asp-action="AddToFavorites"
									   asp-route-id="@Model.Id"><i class="bi bi-heart-fill"></i></a>
								}
								else
								{
									<a class="btn btn-outline-danger btn-sm my-1" asp-area=""
									   asp-controller="Game"
									   asp-action="AddToFavorites"
									   asp-route-id="@Model.Id"><i class="bi bi-heart"></i></a>
								}
							</div>
						</div>
					</div>
				</div>
				@if (!string.IsNullOrEmpty(Model.Desc))
				{
					<div class="m-5">
						<h5>Popis</h5>
						<div class="mx-auto">
							@Html.Raw(Model.Desc)
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</div>

@if (Model != null)
{
	@if (signInManager.IsSignedIn(User))
	{
		<div class="container mt-5 mb-5">
			<div class="w-75 mx-auto d-flex justify-content-between mb-5">
				@for (var i = 5; i > 0; i--)
				{
					<a id="@("btn_"+i)" class="btn btn-light position-relative m-2">
						<img src=@Constants.ImageLinks[i-1] width="20" />
						<span id="@("l_"+i)" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
							@Model.TotalLikes[i-1]
							<span class="visually-hidden">Likes</span>
						</span>
					</a>
				}
			</div>

			<div class="accordion" id="accordionPanelsStayOpenExample">
				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
							<h5>Komentáre (@Model.Comments.Count())</h5>
						</button>
					</h2>
					<div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
						<div class="accordion-body">
							<div class="card border-0">
								<div class="card-header bg-transparent border-bottom-0">
									@if (signInManager.IsSignedIn(User))
									{
										<form method="post">
											<div class="mb-3">
												<label for="exampleFormControlTextarea1" class="form-label">Nový komentár</label>
												<textarea class="form-control" rows="3" asp-for="CommentContent"></textarea>
											</div>
											<div class="mb-3">
												<button type="submit" class="btn btn-outline-primary">Zverejniť</button>
												<input type="hidden" asp-for="Id">
												<input type="hidden" asp-for="UrlHandle">
												<input type="hidden" asp-for="Name">
												<input type="hidden" asp-for="ContentId">
											</div>
										</form>
									}
								</div>
								@if (Model.Comments != null && Model.Comments.Any())
								{
									<div class="card-body">
										@foreach (var comment in Model.Comments)
										{
											<div class="card mb-3">
												<div class="card-body">
													<div>
														@comment.Content
													</div>
													<div class=" d-flex justify-content-between">
														<span class="text-secondary">@comment.UserName</span>
														<span class="text-secondary">@comment.DateAdded.ToShortDateString()</span>
													</div>
												</div>
											</div>
										}
									</div>
								}
							</div>
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
							<h5>Uživateľské preferencie (@(Model.Relations?.Count() ?? 0))</h5>
						</button>
					</h2>
					<div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
						<div class="accordion-body">
							<div class="container my-5">
								@if (Model.Relations?.Any() ?? false)
								{
									<div class="row no-gutters">
										@foreach (var game in Model.Relations)
										{
											<div class="col-lg-3 col-sm-4 col-6 category-card">
												<div class="card border-0">
													@if (game.Owner.FeaturedImage != null)
													{
														<a class="d-block" asp-area=""
														   asp-controller="Account"
														   asp-action="Profile"
														   asp-route-userName="@userManager.FindByIdAsync(game.Owner.UserId.ToString()).Result.UserName">
															<img src="data:image/png;base64,@Convert.ToBase64String(game.Owner.FeaturedImage)" class="d-inline-block img-fluid rounded-circle p-3" alt="@game.BoardGame.Name">
														</a>
													}
													else
													{
														<a class="d-block" asp-area=""
														   asp-controller="Account"
														   asp-action="Profile"
														   asp-route-userName="@userManager.FindByIdAsync(game.Owner.UserId.ToString()).Result.UserName">
															<img src="~/Resources/Images/meeple.jpeg" class="d-inline-block img-fluid rounded-circle p-3" alt="@game.BoardGame.Name">
														</a>
													}
													<div class="card-body pb-2">
														<h3 class="h4 mb-2">@userManager.FindByIdAsync(game.Owner.UserId.ToString()).Result.UserName</h3>
														<div class="list-group list-group-flush font-size-sm">
															@if (game.IsFavorite)
															{
																<span class="list-group-item"><b>Obľúbená hra</b></span>
															}

															@if (game.PlaiyngInterest > 0)
															{
																if (game.PlaiyngInterest == 3)
																{
																	<span class="list-group-item"><b>Chce hrať pravidelne</b></span>
																}
																else if (game.PlaiyngInterest == 2)
																{
																	<span class="list-group-item"><b>Chce si zahrať</b></span>
																}
																else
																{
																	<span class="list-group-item"><b>Chce vyskúšať</b></span>
																}
															}

															@if (game.BuyingInterest > 0)
															{
																if (game.BuyingInterest == 4)
																{
																	<span class="list-group-item"><b>Hru má objednanú</b></span>
																}
																else if (game.BuyingInterest == 3)
																{
																	<span class="list-group-item"><b>Chce hru kúpiť</b></span>
																}
																else if (game.BuyingInterest == 2)
																{
																	<span class="list-group-item"><b>Čaká na zľavu</b></span>
																}
																else if (game.BuyingInterest == 1)
																{
																	<span class="list-group-item"><b>Možno raz kúpi</b></span>
																}
															}

															@if (game.IsOwner)
															{
																<span class="list-group-item"><b>Vlastník hry</b></span>
																<span class="list-group-item"><b>Jazyk</b> - @game.Language.LanguageName</span>
																<span class="list-group-item"><b>Stav</b> - @NumberToTextUtil.ConditionToString(game.Condition ?? 0)</span>

																@if (game.Insert)
																{
																	<span class="list-group-item"><b>+ Insert</b></span>
																}
																@if (game.PromoContent)
																{
																	<span class="list-group-item"><b>+ Promo</b></span>

																}
																@if (game.DeluxeComponents)
																{
																	<span class="list-group-item"><b>+ Deluxe</b></span>
																}
															}
														</div>
													</div>
												</div>
											</div>
										}
									</div>
								}
							</div>
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true" aria-controls="panelsStayOpen-collapseThree">
							<h5>Herné partie (@(Model.PlayViewModels?.Count() ?? 0))</h5>
						</button>
					</h2>
					<div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
						<div class="accordion-body">
							<div class="container my-5">
								@if (Model.PlayViewModels?.Any() ?? false)
								{
									@foreach (var gamePlay in Model.PlayViewModels)
									{
										@if (Model.PlayViewModels.First() != gamePlay)
										{
											<hr class="my-4">
										}
										<div class="card mb-5 border-0">
											<div class="row g-0">
												<div class="col-md-2 d-flex align-items-center justify-content-center">
													<div class="text-center">
														<span><b>@gamePlay.StartTime?.ToString("MM.dd.yyyy")</b></span>
														<br>
														<span><b>@gamePlay.StartTime?.ToString("HH:mm")</b></span>
													</div>
												</div>
												<div class="col-md-5 d-flex align-items-center justify-content-center">
													@foreach (var player in gamePlay.Players)
													{
														<div class="item">

															@if (player.PlayerImage != null)
															{
																<a asp-area=""
																   asp-controller="Account"
																   asp-action="Profile"
																   asp-route-userName="@player.UserName">
																	@if (player.Score > 0 && (gamePlay.Players.First() == player || player.Score == gamePlay.Players.First().Score))
																	{
																		<i class="bi bi-trophy-fill notify-badge text-primary"></i>
																	}
																	<img alt="@player.UserName" title="@player.UserName: @player.Score" class="rounded-circle mx-2 my-2 shadow" width="55" src="data:image/png;base64,@Convert.ToBase64String(player.PlayerImage)">
																</a>
															}
															else
															{
																@if (player.IsGuest)
																{
																	@if (gamePlay.Players.First() == player && player.Score > 0)
																	{
																		<i class="bi bi-trophy-fill notify-badge text-primary"></i>
																	}
																	<img alt="@player.UserName" title="@player.UserName: @player.Score" class="rounded-circle mx-2 my-2 shadow" width="55" src="~/Resources/Images/meeple.jpeg">
																}
																else
																{
																	<a asp-area=""
																	   asp-controller="Account"
																	   asp-action="Profile"
																	   asp-route-userName="@player.UserName">
																		@if (gamePlay.Players.First() == player && player.Score > 0)
																		{
																			<i class="bi bi-trophy-fill notify-badge text-primary"></i>
																		}
																		<img alt="@player.UserName" title="@player.UserName: @player.Score" class="rounded-circle mx-2 my-2 shadow" width="55" src="~/Resources/Images/meeple.jpeg">
																	</a>
																}
															}

														</div>
													}

												</div>
												<div class="col-md-4">
													<dl class="row">
														<dt class="col-6">Stav</dt>
														@if (@gamePlay.GetState() == GameState.Plánovaná.ToString())
														{
															<dd class="col-6 text-info">@gamePlay.GetState()</dd>
														}
														@if (@gamePlay.GetState() == GameState.Ukončená.ToString())
														{
															<dd class="col-6 text-success">@gamePlay.GetState()</dd>
														}
														else if (@gamePlay.GetState() == GameState.Rozohraná.ToString())
														{
															<dd class="col-6 text-warning">@gamePlay.GetState()</dd>
														}
														else if (@gamePlay.GetState() == GameState.Nedohraná.ToString())
														{
															<dd class="col-6 text-danger">@gamePlay.GetState()</dd>
														}
														@if (gamePlay.EndTime != null && gamePlay.EndTime != default(DateTime))
														{
															<dt class="col-6">Trvanie</dt>
															<dd class="col-6">@($"{(int)(gamePlay.EndTime - gamePlay.StartTime)?.TotalHours}h{(gamePlay.EndTime - gamePlay.StartTime)?.Minutes}m")</dd>
														}
														@if (gamePlay.Location != null)
														{
															<dt class="col-6">Miesto</dt>
															<dd class="col-6">@gamePlay.Location.Name</dd>
														}
													</dl>
												</div>
												<div class="col-md-1 d-flex align-items-center justify-content-center">
													<a class="btn btn-outline-primary" asp-area=""
													   asp-controller="Plays"
													   asp-action="Detail"
													   asp-route-id="@gamePlay.Id" class="card-link">Detail</a>
												</div>
											</div>
										</div>
									}
								}
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	}
}



@section Scripts
	{
	<script>
		function setupButton(btnId, totalLikesId, rating) {
			const btnElement = document.getElementById(btnId);
			const totalLikes = document.getElementById(totalLikesId);

			async function getTotalLikes(forRating) {
				fetch('/api/BlogPostRating/@Model.ContentId/' + forRating + '/totalLikes', {
					method: 'GET',
					headers: {
						'Content-Type': 'application/json',
						'Accept': '*/*'
					}
				}).then(data => data.json()).then(result => document.getElementById('l_' + forRating).innerHTML = result);
			}

			async function addRating() {
				fetch('/api/BlogPostRating/Add', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
						'Accept': '*/*'
					},
					body: JSON.stringify({
						contentId: '@Model.ContentId',
						userId: '@userManager.GetUserId(User)',
						rating: rating
					})
				}).then(data => {
					getTotalLikes(rating);
					if (data.ok) {
						data.json().then(result => getTotalLikes(result)).then(() => getTotalLikes(rating));
					}
				});
			};

			btnElement.addEventListener('click', addRating);
		}

		setupButton('btn_5', 'l_5', '5');
		setupButton('btn_4', 'l_4', '4');
		setupButton('btn_3', 'l_3', '3');
		setupButton('btn_2', 'l_2', '2');
		setupButton('btn_1', 'l_1', '1');
	</script>
}